# Claude Code
.claude/

# Environment files
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store

*-key.json

/reviews
PROJECT-INFO.md

# Infrastructure & Helm charts
/infra/
/services/query-engine/chart/
/ui/chart/
